In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# read in the data
data = pd.read_sql_table('features', 'sqlite:///../data/disaster_response.db')

data.shape

(26216, 40)

In [19]:
data.loc[:,['child_alone']].sum()

child_alone    0
dtype: int64

### Let's analyze the training set and classified messages

In [14]:
# create dataframe with labels and their counts
analyze_labels = (
                data.agg({col: 'sum' for col in data.columns[4:]})
                .to_frame()
                .rename_axis('label')
                .rename(columns={0: 'count'})
                .reset_index()
                .sort_values('count', ascending=False)
                )

# show rate of response
analyze_labels['rate'] = analyze_labels['count'] / data.shape[0]

                     label  count
0                  related  20282
3              aid_related  10860
28         weather_related   7297
35           direct_report   5075
1                  request   4474
18               other_aid   3446
11                    food   2923
32              earthquake   2455
30                   storm   2443
12                 shelter   2314
29                  floods   2155
4             medical_help   2084
19  infrastructure_related   1705
10                   water   1672
34           other_weather   1376
21               buildings   1333
5         medical_products   1313
20               transport   1201
17                   death   1194
27    other_infrastructure   1151
16                refugees    875
8                 military    860
6        search_and_rescue    724
14                   money    604
22             electricity    532
33                    cold    530
7                 security    471
13                clothing    405
26             aid_centers    309
15          missing_people    298
24               hospitals    283
31                    fire    282
23                   tools    159
25                   shops    120
2                    offer    118
9              child_alone      0

In [6]:
data.agg({col: 'sum' for col in data.columns[4:]})

related                   20282
request                    4474
offer                       118
aid_related               10860
medical_help               2084
medical_products           1313
search_and_rescue           724
security                    471
military                    860
child_alone                   0
water                      1672
food                       2923
shelter                    2314
clothing                    405
money                       604
missing_people              298
refugees                    875
death                      1194
other_aid                  3446
infrastructure_related     1705
transport                  1201
buildings                  1333
electricity                 532
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1151
weather_related            7297
floods                     2155
storm                      2443
fire                        282
earthquake                 2455
cold                        530
other_weather              1376
direct_report              5075
dtype: int64

In [5]:
data.agg(columns)

related                   20282
request                    4474
offer                       118
aid_related               10860
medical_help               2084
medical_products           1313
search_and_rescue           724
security                    471
military                    860
child_alone                   0
water                      1672
food                       2923
shelter                    2314
clothing                    405
money                       604
missing_people              298
refugees                    875
death                      1194
other_aid                  3446
infrastructure_related     1705
transport                  1201
buildings                  1333
electricity                 532
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1151
weather_related            7297
floods                     2155
storm                      2443
fire                        282
earthquake                 2455
cold                        530
other_weather              1376
direct_report              5075
dtype: int64

In [ ]:
    
# can you rename the index?
training_set = data.agg(columns).to_frame().rename(columns={0: 'count'}).rename_axis('label').reset_index()

training_set['rate_of_response'] = (training_set['count'] / training_set.iloc[36,1]).round(2)

training_set = training_set.sort_values('rate_of_response', ascending=False)

training_set

## Table of Contents

1. [Business Understanding](#business-understanding)
2. [Data Understanding](#data-understanding)
3. [Data Preparation](#data-preparation)
4. [Modeling](#modeling)
5. [Evaluation](#evaluation)
6. [Deployment](#deployment)

## Business Understanding <a name="business-understanding"></a>



## Data Understanding <a name="data-understanding"></a>

...

## Data Preparation <a name="data-preparation"></a>

...

## Modeling <a name="modeling"></a>

...

## Evaluation <a name="evaluation"></a>

...

## Deployment <a name="deployment"></a>

...
```